
/*轮播图样式*/



.slide{
	position: relative;
	overflow: hidden;
}

.slide,.slide *{
	padding: 0;
	margin: 0;
	list-style: none;
}

.slide>*{
	position: absolute;
}
.slide>ul{
	left: 0;
	top: 0;
}
.slide>ul>li{
	float: left;
}
.slide>ol{
	right: 0;
	bottom: 0;
}
.slide>ol>li{
	float: left;
}
.slide>ol>li>span{
	background: #ff006a;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	border: 1px solid gray;
}
.slide>p{
	display: block;
	background: #ff006a;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	opacity: 0;
}
.slide>p:nth-child(3){
	left: 10px;
}
.slide>p:nth-child(4){
	right: 10px;
}

.btnselected{
	background: #fff !important;
}
