/*(1)清除默认样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input,div{ margin:0; padding:0; }
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
ul,li,ol{ list-style:none; }

select, input { vertical-align:middle;}

textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  
/*  去掉图片低测默认的3像素空白缝隙*/
 table { border-collapse:collapse; } 

a {text-decoration:none; }

/*固定盒子*/
*{
	box-sizing: border-box;
}

/*清除浮动*/
.clearfix:before,.clearfix:after {  
    content:"";
    display:table;
}
 .clearfix:after {
    clear:both;
    overflow:hidden;
 }
 .clearfix {
    zoom:1; /* for ie6 & ie7 */
 }
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}

/*设置浮动*/
.fl{
	float:left;
}
.fr{
	float:right;
}


/*公共类*/
.container {  /*内容、版心 提取 */
    width: 1000px;
    /*100%是继承父元素的高或者宽*/
    height: 100%; 
    /*background-color:yellow;*/
    margin:0 auto;
}
.aa{
	background: blue;
}