$all:100%;
$fontcolor:#646464;
$maincolor:#ff006a;
*{
    box-sizing: border-box;
}


#box{
    min-width: 1000px;
    min-height: 600px;
    background: #f6f6f6;
    
     //————————————————————————————————————————————————
    #sticky{/*顶部滑动菜单*/
        height: 50px;
        width: $all;
        background: white;
        z-index: 999;
        box-shadow: 0 1px 6px 0 #ccc;
        display: none;
        position: fixed;
        top: -100px;
        .container{
            .sticky_nav_menu{
                display: inline-block;
                float: left;
                width: 130px;
                height: 50px;
                padding: 0px 5px;
                cursor: pointer;
                margin-left: 65px;
                text-align: center;
                position: relative;
                &:hover{
                    .sticky_menu{
                        display: block;
                    }
                }
                >i{
                    display: inline-block;
                    position: absolute;
                }
                >span{
                    display: inline-block;
                    height: $all;
                    line-height: 50px;
                    font-size: 14px;
                    color: rgb(255, 0, 119);
                }
                .s_l{
                    left: 1px;
                    top: 15px;
                    width: 20px;
                    height: 20px;
                    background: url(../css/img/imgs.png);
                    background-position: -4px -174px;
                }
                .s_r{
                    top: 24px;
                    right: 1px;
                    border-width: 6px;
                    border-style: solid;
                    border-color: rgb(255, 0, 119) transparent transparent;
                }
                
                //下拉菜单——————————————————
                .sticky_menu{
                    position: absolute;
                    z-index: 9;
                    left: -64px;
                    top: 48px;
                    display: none;
                    .nav_menu{/*主导航栏*/
                        width: 256px;
                        height: 440px;
                        position: relative;
                        &:hover{
                            .level_nav{
                                display: block;
                            }
                        }
                        //_______________________
                        >ul{
                            height: $all;
                            width: $all;
                            background: #222222;
                            opacity: 0.9;
                            margin-top: 2px;
                            .nav_list{
                                height: 31px;
                                width: $all;
                                line-height: 31px;
                                padding-left: 18px;
                                border-left: 2px solid #fff7f8;
                                &:hover{
                                    border-left: 2px solid $maincolor;
                                    background: black;
                                }
                                dl{
                                    >*{
                                        float: left;
                                    }
                                    a:hover{
                                        text-decoration: underline;
                                    }
                                    .hot{
                                        width: 12px;
                                        height: 13px;
                                        display: inline-block;
                                        margin-left: 2px;
                                        background: url(../css/img/hot.png);
                                        background-size: 12px 13px;
                                    }
                                   
                                    dt{
                                        font-family: 'PingFang SC';
                                        font-size: 14px;
                                        font-weight: 600;
                                        
                                        a{
                                            color: white;
                                        }
                                    }
                                    dd{
                                        font-size: 12px;
                                        
                                        a{
                                            color: white;
                                            margin-left: 16px;
                                        }
                                    }
                                    .fonthot{
                                        color: $maincolor !important;
                                    }
                                }
                            }
                        }
                        //_______________________
                        .level_nav{/*二级导航*/
                            height: 440px;
                            width: 820px;
                            background: white;
                            position: absolute;
                            z-index: 5;
                            display: none;
                            top: 0; 
                            left: 256px;
                            .level_left{
                                float: left;
                                display: inline-block;
                                padding: 15px;
                                height: $all;
                                width: 549px;
                                border-right: 1px solid #F2F2F2;
                                >div{
                                    width: $all;
                                    height: 115px;
                                    margin-bottom: 10px;
                                    .level_left_titles{
                                        box-sizing: content-box;
                                        height: 25px;
                                        display: block;
                                        padding-top: 10px;
                                        line-height: 25px;
                                        >h5{
                                            display: inline-block;
                                            float: left;
                                            font-size: 16px;
                                            color: #333333;
                                        }
                                        >a{
                                            float: right;
                                            cursor: pointer;
                                            font-size: 13px;
                                            color: #333333;
                                        }
                                    }
                                    .level_left_item{
                                        box-sizing: content-box;
                                        height: 80px;
                                        width: 500px;
                                        >ul{
                                            display: block;
                                            >li{
                                                float: left;
                                                color: $fontcolor;
                                                margin-right: 25px;
                                                font-size: 12px;
                                                margin-top: 10px;
                                                &:hover{
                                                    cursor: pointer;
                                                    text-decoration: underline;
                                                }
                                            }
                                            .hot{
                                                color: $maincolor;
                                            }
                                        }
                                    }
                                    
                                }
                            }
                            .level_right{
                                float: left;
                                display: inline-block;
                                width: 271px;
                                height: 440px;
                                .level_right_title{
                                    height: 45px;
                                    width: $all;
                                    text-align: center;
                                    line-height: 45px;
                                    color: #333333;
                                }
                                .level_right_item{
                                    ul{
                                        
                                        li{
                                            width: 100px;
                                            height: 130px;
                                            float: left;
                                            margin-left: 24px;
                                            &:hover{
                                                cursor: pointer;
                                                >a{
                                                    opacity: 0.7;
                                                    cursor: pointer;
                                                }
                                            }
                                            >a{
                                                img{
                                                    width: 100px;
                                                    height: 100px;
                                                }
                                            }
                                            p{
                                                margin-top: 4px;
                                                color: #333333;
                                                height: 14px;
                                                overflow: hidden;
                                                font-size: 12px;
                                                /*省略号*/
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sticky_so{
                display: inline-block;
                width: 482px;
                height: 50px;
                margin-left: 145px;
                font-size: 0;
                .inner_box{
                    height: 36px;
                    width: 480px;
                    border: 1px solid $maincolor;
                    margin-top: 7px;
                    border-radius: 0 5px 5px 0;
                  
                    .selected{  /*搜商品*/
                        cursor: pointer;
                        display: inline-block;
                        height: 34px;
                        width: 60px;
                        line-height: 34px;
                        position: relative;
                        z-index: 5;
                        span{
                            margin-left: 8px;
                            color: #ff177d;
                            display: inline-block;
                            float: left;
                            font-size: 14px;
                        }
                        i{
                            float: left;
                            display: inline-block;
                            height: 4px;
                            width: 9px;
                            background: url(../css/img/imgs.png);
                            background-position: -56px -228px;
                            margin-top: 15px;
                        }
                        ul{ position: absolute;
                            top: 34px;
                            z-index: 10;
                            width: 80px;
                            height: 80px;
                           
                        }
                    }
                    form{
                        height: 34px;
                        overflow: hidden;
                        display: inline-block;
                        #select{
                            width: 316px;
                            height: 34px;
                            margin-left: 2px;
                        }
                        #ss_sub{
                            height: 34px;
                            width: 100px;
                            background: #ff014a;
                            border: none;
                            border-radius: 0 5px 5px 0;
                            color: white;
                            
                            &:hover{
                                cursor: pointer;
                                background: $maincolor;
                            }
                        }
                    }
                }
            }
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    //————————————————————————————————————————————————
    #sidebar{/*侧边栏*/
        width: 30px;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background: #272727;
        text-align: center;
        z-index: 5;
        .sidebar_box{
            padding-top: 69px;
            position: relative;
            height: $all;
            a{
               display: inline-block;
               color: white;
               font-size: 12px;
               margin: 0 auto;  
               width: 22px;
               padding-top: 12px;
               padding-bottom: 12px;
               border-bottom: 1px solid #979797;
            }
            >div{
                cursor: pointer;
                &:hover{
                    background: #ef2f23;
                    >a{
                        border-bottom: 1px solid #ef2f23;
                    }
                }
            }
            .avatar{/*头像*/
                >a{
                    width: 22px;
                    height: 40px;
                    overflow: hidden;
                    >img{
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                    }
                }
            }
            
            .cart{/*购物车*/
               
                i{
                    display: inline-block;
                    height: 16px;
                    width: 17px;
                    background: url(../css/img/imgs.png);
                    background-position: -274px -135px;
                }
            }
            .coupon{/*优惠券*/
                i{
                    display: inline-block;
                    height: 13px;
                    width: 18px;
                    background: url(../css/img/imgs.png);
                    background-position: -273px -168px;
                }
            }
            
            .wallet{/*钱包*/
                i{
                    display: inline-block;
                    height: 12px;
                    width: 13px;
                    background: url(../css/img/imgs.png);
                    background-position: -276px -228px;
                }
            }
            
            .brow{/*足迹*/
                i{
                    display: inline-block;
                    height: 18px;
                    width: 17px;
                    background: url(../css/img/imgs.png);
                    background-position: -276px -196px;
                }
            }
            
            .qrcode{/*二维码*/
               &:hover{
                    background: #272727;
                    >a{
                        border-bottom: 1px solid #979797;
                    }
                }
                i{
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    background: url(../css/img/imgs.png);
                    background-position: -274px -311px;
                }
            }
            
            .totop{/*置顶*/
               display: none;
              position: absolute;
              bottom: 50px;
              width: $all;
               &:hover{
                   >a{
                       border-top: 1px solid #ef2f23;
                   }
               }
              a{
                  
                  border-bottom: none;
                  border-top: 1px solid #979797;
                  i{
                        display: inline-block;
                        height: 14px;
                        width: 17px;
                        background: url(../css/img/imgs.png);
                        background-position: -274px -287px;
                    }
              }
              
                
                
            }
        }
    }
    
    
    
    
    //————————————————————————————————————————————————
    #header{/*顶部栏*/
        height: 31px;
        width: $all;
        border-bottom: 1px solid #dddddd;
        background: #f2f2f2;
        line-height: 31px;
         font-size: 12px;
         .container{
             >a{
                 color: #646464;
                i{
                    display: inline-block;
                    background: url(../css/img/imgs.png);
                    background-position: -6px -242px;
                    height: 12px;
                    width: 12px;
                    margin-right: 5px;
                }
                
            }
            ul{
                float: right;
                height: 21px;
                li{
                    float: left;
                    color: #646464;
                    display: inline-block;
                    >a{
                        display: inline-block;
                        padding: 0 19px 0 19px;
                        position: relative;
                    
                /*图标*/
                        .dingdans{
                            display: inline-block;
                            background: url(../css/img/imgs.png);
                            background-position: -4px -539px;
                            height: 10px;
                            width: 13px;
                            margin-right: 5px;
                        }
                        .cartico{
                            display: inline-block;
                            height: 14px;
                            width: 17px;
                            background: url(../css/img/imgs.png);
                            background-position: -4px -428px;
                            margin-right: 5px;
                        }
                        .arrow{
                            display: inline-block;
                            height: 6px;
                            width: 10px;
                            background: url(../css/img/imgs.png);
                            background-position: -4px -476px;
                            margin-left: 2px;
                        }
                        .shang_q{
                            display: inline-block;
                            height: 21px;
                            width: 21px;
                            background: url(../css/img/imgs.png);
                            background-position: -4px -572px;
                            position: absolute;
                            left: 19px;
                            top: 5px;
                        }
                    }
                }
                
                
                .cart{/*购物车二级菜单*/
                    position: relative;
                    &:hover{
                        #cart{
                            display: block;
                        }
                    }
                    #cart{
                        display: none;
                        z-index: 5;
                        width: 280px;
                        position: absolute;
                        left: -90px;
                        background: #EEEEEE;
                        border-radius: 0 0 5px 5px;
                        padding: 10px;
                        line-height: 16px;
                        .cart_list{
                            border-bottom: 1px solid #CCCCCC;
                            >div{
                                height: 50px;
                                width: $all;
                                margin-bottom: 10px;
                                .cart_item_img{
                                    margin-left: 0;
                                    display: inline-block;
                                    height: 50px;
                                    width: 50px;
                                    float: left;
                                    cursor: pointer;
                                    img{
                                        height: 50px;
                                        width: 50px;
                                    }
                                }
                                >div{
                                    display: inline-block;
                                    width: 200px;
                                    height: 50px;
                                    float: left;
                                    margin-left: 10px;
                                    .cart_item_title{
                                        margin-top: 6px;
                                        display: inline-block;
                                        width: 120px;
                                        height: 16px;
                                        overflow: hidden;
                                        font-size: 12px;
                                        color: black;
                                        &:hover{
                                            cursor: pointer;
                                            text-decoration: underline;
                                        }
                                        
                                    }
                                    >a{
                                        display: inline-block;
                                        color: $fontcolor;
                                    }
                                    .price{
                                        margin-left: 20px;
                                    }
                                    .del{
                                        margin-left: 25px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .cart_look{
                            height: 35px;
                            width: $all;
                            >a{
                                display: inline-block;
                                height: 25px;
                                width: 100px;
                                background: $maincolor;
                                color: white;
                                font-size: 14px;
                                line-height: 25px;
                                text-align: center;
                                border-radius: 5px;
                                margin-left: 160px;
                                margin-top: 10px;
                                &:hover{
                                    cursor: pointer;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                
                
                .level{/*顶部公共二级菜单样式*/
                    position: relative;
                    &:hover{
                        ol{
                            display: block;
                        }
                    }
                    ol{
                        display: none;
                        position: absolute;
                        width: 100px;
                        background: #EEEEEE;
                        border-radius: 0 0 5px 5px;
                        li{
                            width: 100px;
                            text-align: center;
                            &:hover{
                                cursor: pointer;
                                background: #ddd;
                            }
                        }
                    }
                }
                
                
                .xian{/*竖线*/
                    float: left;
                    display: inline-block;
                    background: url(../css/img/imgs.png);
                    height: 14px;
                    width: 1px;
                    background-position: -102px -541px;
                    margin-top: 9px;
                }
            }
         }
        
    }
    
    
    
    
    //————————————————————————————————————————————————
    #header_mid{/*搜索栏*/
        height: 90px;
        width: 100%;
        font-size: 0px;
        background: white;
        .container{
            >a{
                float: left;
                img{
                    height: 90px;
                    width: 240px;
                }
            }
              
            .search{/*中间搜索栏*/
                display: inline-block;
                width: 482px;
                height: 90px;
                margin-left: 100px;
                .inner_box{
                    height: 36px;
                    width: 480px;
                    border: 1px solid $maincolor;
                    margin-top: 25px;
                    border-radius: 0 5px 5px 0;
                  
                    .selected{  /*搜商品*/
                        cursor: pointer;
                        display: inline-block;
                        height: 34px;
                        width: 60px;
                        line-height: 34px;
                        position: relative;
                        z-index: 5;
                        span{
                            margin-left: 8px;
                            color: #ff177d;
                            display: inline-block;
                            float: left;
                            font-size: 14px;
                        }
                        i{
                            float: left;
                            display: inline-block;
                            height: 4px;
                            width: 9px;
                            background: url(../css/img/imgs.png);
                            background-position: -56px -228px;
                            margin-top: 15px;
                        }
                        ul{ position: absolute;
                            top: 34px;
                            z-index: 10;
                            width: 80px;
                            height: 80px;
                           
                        }
                    }
                    form{
                        height: 34px;
                        overflow: hidden;
                        display: inline-block;
                        #select{
                            width: 316px;
                            height: 34px;
                            margin-left: 2px;
                        }
                        #ss_sub{
                            height: 34px;
                            width: 100px;
                            background: #ff014a;
                            border: none;
                            border-radius: 0 5px 5px 0;
                            color: white;
                            
                            &:hover{
                                cursor: pointer;
                                background: $maincolor;
                            }
                        }
                    }
                   
                    #hotwords{ /*搜索框下面商品名*/
                        height: 20px;
                        width: $all;
                        z-index: 1;
                        ul{
                            li{
                                float: left;
                                font-size: 12px;
                                color: $fontcolor;
                                margin-right: 12px;
                                &:hover{
                                    color: $maincolor;
                                    cursor: pointer;
                                    text-decoration: underline;
                                }
                            }
                            .hot{
                                color: #ff4466;
                            }
                        }
                    }
                }
            }
            
            .mid{/*右边二维码*/
                display: inline-block;
                float: right;
                width: 200px;
                height: 90px;
                img{
                    height: $all;
                    width: $all;
                }
            }
        }
    }
    
    
    
    //————————————————————————————————————————————————
    #footer{/*底部栏*/
        height: 200px;
        width: $all;
        padding-top: 50px;
        padding-bottom: 50px;
        box-sizing: content-box;
        .container{
            .footer_help{
                width: 100%;
                height: 100px;
                border-bottom: 2px solid #FF5777;
                >div{
                    height: $all;
                    width: 25%;
                    display: inline-block;
                    float: left;
                   
                    h4{
                        text-align: center;
                        margin-top: 10px;
                    }
                    ul{
                        width: 80%;
                        margin-left: 10%;
                        li{
                            float: left;
                            width: 50%;
                            text-align: center;
                            font-size: 12px;
                            margin-top: 10px;
                            &:hover{
                                color: $maincolor;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .footer_info{
                width: $all;
                height: 20px;
                margin-top: 10px;
                ul{
                    li{
                        font-size: 12px;
                        margin-left: 30px;
                        color: #333;
                        float: left;
                        &:hover{
                            cursor: pointer;
                            color: $maincolor;
                        }
                    }
                    span{
                        margin-left: 30px;
                         font-size: 12px;
                         color: $fontcolor;
                         float: left;
                    }
                }
            }
            .footer_copyright{
                width: $all;
                height: 52px;
                margin-top: 10px;
                P{
                    font-size: 12px;
                    color: $fontcolor;
                    margin-top: 5px;
                    margin-left: 30px;
                }
            }
        }
    }
    
}












