$all:100%;
$maincolor:#ff006a;

#box{
    background: white;
    #goods_header{
        width: $all;
        height: 81px;
        border-bottom: 1px solid #ddd;
        .container{
            .user_info_box{/*头部title位置*/
               display: inline-block;
                width: 507px;
                height: $all;
                padding-top: 15px;
                float: left;
                .user_img{
                    float: left;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-left: 15px;
                    >a{
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                            >img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                .user_info{
                    display: inline-block;
                    width: 240px;
                    height: 65px;
                    float: left;
                    .user_info_title{
                        margin-left: 5px;
                        font-size: 14px;
                        color: #333;
                    }
                    .user_info_xing{
                        margin-left: 5px;
                        >i{
                            display: inline-block;
                            width: 17px;
                            height: 17px;
                            background: url(../css/img/xing_red.png);
                            background-position: 0 -20px;
                            background-repeat: no-repeat;
                        }
                    }
                    .user_info_depict{
                        margin-left: 5px;
                        font-size: 12px;
                        >span{
                            margin-right: 10px;
                            color: #333333;
                            >b{
                                font-weight: normal;
                                color: #1aca60!important;
                            }
                        }
                    }
                }
                .user_shop{
                    display: inline-block;
                    float: left;
                    height: 50px;
                    width: 211px;
                    border-right: 1px solid #ddd;
                    >div{
                        margin-top: 15px;
                        display: inline-block;
                        height: 20px;
                        border: 1px solid #ddd;
                        font-size: 12px;
                        color: #333333;
                        float: left;
                        margin-left: 15px;
                        cursor: pointer;
                    }
                    .siliao{
                        
                        width: 50px;
                        height: 20px;
                        background: url(../css/img/siliao.gif);
                        background-repeat: no-repeat;
                    }
                }
            } 
            .centre_so{/*搜索*/
               display: inline-block;
               height: $all;
                float: right;
                font-size: 0;
                .stand_so{
                    width: 482px;
                    height: 36px;
                    display: inline-block;
                    border: 1px solid $maincolor;
                    margin-top: 22px;
                    border-radius: 0 5px 5px 0;
                    overflow: hidden;
                    font-size: 0;
                    #cantre_inp{
                        height: 34px;
                        width: 380px;
                    }
                    #station_so{
                        width: 100px;
                        height: 34px;
                        border: none;
                        cursor: pointer;
                        background: #f07;
                        font-size: 16px;
                        color: white;
                        background-image: linear-gradient(to right,#f25,#ff1581);
                        &:hover{
                            background: $maincolor;
                        }
                    }
                }
                .store_so{
                    height: 36px;
                    width: 100px;
                    display: inline-block;
                    margin-top: 22px;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-left: 5px;
                    #shop_so{
                        height: 36px;
                        width: 100px;
                        border: none;
                        cursor: pointer;
                        background: #f07;
                        font-size: 16px;
                        color: white;
                        background-image: linear-gradient(to right,#f25,#ff1581);
                        &:hover{
                            background: $maincolor;
                        }
                    }
                }
            } 
        }
    }
    
    
    //banner广告部分
    .banner{
        height: 150px;
        width: $all;
        >img{
            height: 150px;
            width: $all;
        }
    }
    
    //导航栏
    .nav{
        padding: 7px 0;
        height: 30px;
        background: black;
        width: $all;
        opacity: .7;
        line-height: 16px;
        .container{
            >ul{
                >li{
                    float: left;
                    >a{
                        font-size: 14px;
                        padding: 0 15px;
                        color: white;
                        position: relative;
                        i{
                            right: 8px;
                            top: 8px;
                            position: absolute;
                            border-width: 6px;
                            border-style: solid;
                            border-color: white transparent transparent;
                        }
                    }
                }
                >span{
                    float: left;
                    display: inline-block;
                    height: 16px;
                    width: 0.5px;
                    background: #aaaaaa;
                }
                
                .all_goods{
                    position: relative;
                    &:hover{
                       >ol{
                           display: block;
                       } 
                    }
                    >ol{
                        display: none;
                        position: absolute;
                        width: 120px;
                        top: 23px;
                        z-index: 99;
                        >li{
                            background: black;
                            opacity: .9;
                           z-index: 99;
                            &:hover{
                                cursor: pointer;
                                background: #333333;
                                opacity: 1;
                            }
                            >a{display: inline-block;
                                color: white;
                                font-size: 12px;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    //__________________________________
    #main{
        .container{
            #goods_info{
                margin-top: 35px;
                height: 670px;
                width: $all;
                
                
                
                //左边图片部分________________
                .imgdet{
                    display: inline-block;
                    float: left;
                    height: 670px;
                    width: 400px;
                    position: relative;
                    .imgpart{
                        height: 600px;
                        width: 400px;
                        position: relative;
                        z-index: 2;
                        .pic{
                            height: 600px;
                            width: 400px;
                            overflow: hidden;
//                          position: relative;
                            z-index: 2;
                            >img{
                                width: 400px;
                                z-index: 2;
                            }
                            .magnify{
                                display: none;
                                width: 200px;
                                height: 200px;
                                position: absolute;
                                background: white;
                                opacity: 0.5;
                                left: 0;
                                top: 0;
                                cursor: move;
                            }
                        }
                        .bigpic{
                            display: none;
                            position: absolute;
                            top: 100px;
                            left: 400px;
                            width: 400px;
                            height: 400px;
                            border: 1px solid #fff;
                            overflow: hidden;
                            >img{
                                left: 0;
                                top: 0;
                                position: absolute;
                                width: 800px;
                            }
                        }
                        
                    }
                    .imglist{
                        height: 60px;
                        width: 350px;
                        margin-left: 25px;
                        margin-top: 10px;
                        >ul{
                            >li{
                                float: left;
                                width: 60px;
                                height: 60px;
                                margin-right: 10px;
                                position: relative;
                                cursor: pointer;
                                &:hover{
                                    >span{
                                        background: none;
                                        border-bottom: 3px solid red;
                                    }
                                }
                                >img{
                                    width: 60px;
                                    height: 60px;
                                }
                                >span{
                                    position: absolute;
                                    display: inline-block;
                                    top: 0;
                                    left: 0;
                                    opacity: 0.5;
                                    height: 60px;
                                    width: 60px;
                                    z-index: 9;
                                    background: white;
                                    border-bottom: 3px solid white;
                                }
                            }
                        }
                    }
                }
                
                
                //右边
                .info_box{
                    display: inline-block;
                    float: left;
                    width: 540px;
                    height: 670px;
                    margin-left: 20px;
                    font-size: 12px;
                    color: #999999;
                    border-right: 1px solid #eee;
                    >h2{
                        font-size: 24px;
                        color: #333333;
                        padding: 0 5px;
                    }
                      
                    .goods_prowrap{/*价格*/
                        padding: 0 5px;
                        font-size: 12px;
                        color: #999999;
                        margin: 10px 0;
                        height: 98px;
                        width: 540px;
                        border-bottom: 1px solid #f3f3f3;
                        border-top: 1px solid #f3f3f3;
                        background: #f6f6f6;
                        .price_cost{
                            height: 32px;
                            line-height: 32px;
                            >*{
                                float: left;
                            }
                        }
                        .property{
                            height: 32px;
                            line-height: 32px;
                            >*{
                                float: left;
                            }
                            .price{
                                color: #ef2f23;
                                font-size: 24px;
                                display: inline-block;
                                font-weight: 700;
                            }
                            .property_extra{
                                float: right;
                                >span{
                                    margin-right: 15px;
                                }
                            }
                        }
                        .promotions{
                            line-height: 33px;
                            height: 33px;
                            width: $all;
                            >*{
                                float: left;
                            }
                            .promotions_cart{
                                border-radius: 3px;
                                margin-top: 5px;
                                margin-left: 5px;
                                height: 23px;
                                border: 1px solid #ef2f23;
                                line-height: 23px;
                                padding: 0 25px;
                                color: #ef2f23;
                            }
                        }
                    }
                    
                    .custom{/*客服*/
                       margin-top: 20px;
                        height: 28px;
                        padding: 0 15px;
                        >*{
                            float: left;
                        }
                        >dd{
                            border: 1px solid #999999;
                            padding:  2px 2px;
                            margin-left: 30px;
                        }
                    }
                    
                    .goods_style{/*颜色*/
                       margin-top: 20px;
                       height: 54px;
                        width: $all;
                        padding-left: 15px;
                        >*{
                            float: left;
                        }
                        >ul{
                            display: inline-block;
                            li{
                                width: 54px;
                                height: 54px;
                                float: left;
                                margin-right: 10px;
                                border: 1px solid #999999;
                                
                                >img{
                                    cursor: pointer;
                                    height: 52px;
                                    width: 52px;
                                }
                            }
                        }
                    }
                    //尺码
                    .goods_size{
                        margin-top: 20px;
                        height: 36px;
                        line-height: 36px;
                        width: $all;
                        padding-left: 15px;
                        >*{
                            float: left;
                        }
                        ul{
                            display: inline-block;
                            margin-top: 3px;
                            li{
                                line-height: 30px;
                                float: left;
                                height: 30px;
                                padding: 0 8px;
                                border: 1px solid #999999;
                                margin-left: 15px;
                                cursor: pointer;
                                &:hover{
                                    box-shadow: 0 0 10px #999999;
                                }
                            }
                        }
                    }
                    //数量
                    .goods_num_box{
                        height: 28px;
                        width: $all;
                        padding-left: 15px;
                        margin-top: 20px;
                        line-height: 28px;
                        
                        >*{
                            float: left;
                            margin-right: 20px;
                        }
                        >div{
                            display: inline-block;
                            width: 106px;
                            height: 28px;
                            font-size: 0;
                            >*{
                                float: left;
                                border: none;
                                border: 1px solid #CCCCCC;
                                background: none;
                            }
                            #goods_num_red,#goods_num_add{
                                text-align: center;
                                height: 28px;
                                width: 28px;
                                font-size: 25px;
                                color: #999999;
                                line-height: 24px;
                                cursor: pointer;
                            }
                            #goods_num{
                                height: 28px;
                                width: 50px;
                                font-size: 16px;
                                text-align: center;
                            }
                        }
                    }
                    //按钮
                    .goods_buy{
                        height: 50px;
                        width: $all;
                        padding-left: 50px;
                        margin-top: 20px;
                        >a{
                            display: inline-block;
                            height: 50px;
                            width: 200px;
                            margin-left: 20px;
                            font-size: 20px;
                            line-height: 50px;
                            text-align: center;
                            cursor: pointer;
                        }
                        .tobuy{
                            color: white;
                            background: #ef2f23;
                        }
                        .tocart{
                            color: #333;
                            border: 1px solid #ddd;
                        }
                    }
                    //服务承诺
                    .services{
                       height: 78px;
                       width: $all;
                       padding-left: 15px;
                       margin-top: 20px;
                       >*{
                           float: left;
                           display: inline-block;
                       }
                        >ul{
                            margin-top: 20px;
                            >li{
                                float: left;
                                padding: 0 10px;
                                >img{
                                    height: 24px;
                                    width: 24px;
                                }
                            }
                        }
                    }
                    //支付方式
                    .pay{
                        width: 20px;
                        margin-top: 20px;
                        width: $all;
                        >*{
                            float: left;
                        }
                        >dd{
                            margin-left: 10px;
                            height: 20px;
                            width: 100px;
                            background: url(../css/img/goods_img1.png) no-repeat;
                            background-position: -9px -295px;
                        }
                    }
                }
            }
            //_______________________________________
            .col{/*商品详情*/
                width: $all;
                height: 800px;
                margin-top: 40px;
                .col_sidebar{/*左边商铺*/
                    display: inline-block;
                    float: left;
                    height: $all;
                    width: 198px;
                    
                    .shop_info{
                        height:232px;
                        width: 198px;
                        border: 1px solid #e5e5e5;
                        .shop_name{
                            height: 58px;
                            width: 196px;
                            background: #f6f6f6;
                            text-align: center;
                            line-height: 58px;
                            font-weight: bold;
                            color: #333;
                            border-bottom: 1px solid #e5e5e5;
                        }
                        >ul{
                            height: 38px;
                            margin-top: 20px;
                            width: $all;
                            font-size: 12px;
                            color: #999999;
                            margin-left: 36px;
                            >li{
                                float: left;
                                height: $all;
                                width: 40px;
                                border-right: 1px dotted #e5e5e5;
                                text-align: center;
                                .num_low{
                                    color: #1aca60;
                                }
                            }
                        }
                        .shop_btns{
                            padding: 22px 0;
                            font-size: 0;
                            >a{
                                display: inline-block;
                                width: 64px;
                                height: 20px;
                                line-height: 20px;
                                border: 1px solid #ddd;
                                color: #333;
                                font-size: 12px;
                                text-align: center;
                                margin-left: 22px;
                                cursor: pointer;
                            }
                        }
                        .shop_search{
                            width: 196px;
                            height: 50px;
                            border-top: 1px solid #e5e5e5;
                            font-size: 0;
                            >input{
                                font-size: 12px;
                                margin-top: 14px;
                            }
                            #inptext{
                                float: left;
                                width: 85px;
                                height: 22px;
                                line-height: 14px;
                                padding: 3px;
                                border: 1px solid #ddd;
                                border-right-width: 0;
                                color: #333;
                                margin-left: 22px;
                            }
                            #inpbtn{
                                float: left;
                                width: 66px;
                                height: 22px;
                                line-height: 22px;
                                border-width: 0;
                                color: #fff;
                                cursor: pointer;
                                font-size: 12px;
                                background: #333;
                            }
                        }
                    }
                    .classinfo{
                        height: 96px;
                        width: 198px;
                        border: 1px solid #e5e5e5;
                        margin-top: 20px;
                        h3{
                            height: 38px;
                            line-height: 38px;
                            text-align: center;
                            color: #333;
                            font-size: 16px;
                            background: #F6F6F6;
                        }
                        >a{
                            display: inline-block;
                            margin-left: 30px;
                            margin-top: 20px;
                            color: #333;
                            font-size: 12px;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .module{
                        height: 430px;
                        width: 198px;
                        border: 1px solid #e5e5e5;
                        margin-top: 20px;
                        h3{
                            height: 38px;
                            line-height: 38px;
                            text-align: center;
                            color: #333;
                            font-size: 16px;
                            background: #F6F6F6;
                        }
                    }
                    
                }
                .col_main{/*中间主体*/
                    display: inline-block;
                    float: left;
                    height: $all;
                    width: 738px;
                    border: 1px solid #e5e5e5;
                    margin-left: 14px;
                    >ul{
                        height: 58px;
                        width: $all;
                        background: #F6F6F6;
                        border-bottom: 1px solid #e5e5e5;
                        >li{
                            float: left;
                            height: $all;
                            width:  149px;
                            border-right: 1px solid #e5e5e5;
                            >a{
                                cursor: pointer;
                                display: inline-block;
                                width: $all;
                                height: $all;
                                font-size: 16px;
                                color: #333;
                                text-align: center;
                                line-height: 54px;
                                border-top: 4px solid #f6f6f6;
                                >em{
                                    display: inline-block;
                                    line-height: 12px;
                                    margin-left: 4px;
                                    font-style: normal;
                                    font-size: 12px;
                                    color: #999;
                                }
                            }
                            .check{
                                border-top: 4px solid #ef2f23;
                                border-bottom: 1px solid #fff;
                                background: #fff;
                            }
                        }
                    }
                    .module{
                        height: 600px;
                        width: $all;
                        position: relative;
                        >div{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 600px;
                            width: 736px;
                        }
                        .module_graphic{
                            background: cadetblue;
                            display: block;
                        }
                        .module_rates{
                            background: cornflowerblue;
                            display: none;
                        }
                        .module_recommend{
                            background: dodgerblue;
                            display: none;
                        }
                    }
                }
                .col_extra{/*右边产品菜单*/
                    display: inline-block;
                    float: left;
                    height: $all;
                    width: 240px;
                    border: 1px solid #e5e5e5;
                    .togger{
                        height: 58px;
                        box-sizing: border-box;
                        width: 238px;
                        padding: 0 20px;
                        text-align: center;
                        line-height: 58px;
                        font-family: Microsoft YaHei\,arial;
                        font-size: 12px;
                        color: #666;
                        background: #F6F6F6;
                    }
                }
                
            }
            
            
            
            
            
            
            
        }
    }
    
    
    
    
}
