$all:100%;
$maincolor:#ff006a;
$fontcolor:#646464;





#box{
    background: white;
    #main{
        .container{
            #nav{/*中部导航栏*/
                width: $all;
                height: 321px;
                margin-top: 30px;
                border: 1px solid #e5e5e5;
                .top_nav{/*导航头列表表头*/
                    height: 38px;
                    width: $all;
                    border-bottom: 1px solid #e5e5e5;
                    padding-left: 15px;
                    background-color: #fafafa;
                    >ul{
                        line-height: 36px;
                        height: $all;
                        >li{
                            height: 38px;
                            float: left;
                            text-align: center;
                            >a{
                                color: #333333;
                                display: inline-block;
                                height: 37px;
                                border-top: 2px solid #fafafa;
                                padding: 0 15px;
                            }
                            .check{
                                border-top: 2px solid $maincolor;
                                background: white;
                            }
                        }
                    }
                }
                .type_nav{/*导航头列表内容*/
                    width: $all;
                    height: 282px;
                    >div{
                        height: 252px;
                        display: inline-block;
                        float: left;
                        margin: 15px 0;
                    }
                    .type_nav_l{
                        width: 920px;
                        border-right: 1px dashed #e5e5e5;
                        >div{
                            margin: 10px 0 30px 15px;
                            display: inline-block;
                            width: 435px;
                            height: 90px;
                            >a{
                                float: left;
                                display: inline-block;
                                height: 64px;
                                width: 64px;
                                margin-top: 5px;
                                border: 1px solid #CCCCCC;
                                >img{
                                    height: 64px;
                                    width: 64px;
                                }
                            }
                            >ul{
                                width: 360px;
                                float: left;
                                display: inline-block;
                                font-size: 12px;
                                >li{
                                    float: left;
                                     margin-bottom: 8px;
                                    >a{
                                        border-right: 1xp solid #E5E5E5;
                                        padding: 0 10px;
                                        color: #333333;
                                       
                                    }
                                }
                            }
                        }
                    }
                    .type_nav_r{
                        width: 267px;
                        >img{
                            width: 188px;
                            height: 252px;
                            margin-left: 40px;
                        }
                    }
                }
                
            }
            h3{
                line-height: 32px;
                font-size: 24px;
                font-weight: 400;
                color: #333;
                margin-top: 30px;
                margin-bottom: 8px;
            }
            .wall_nav{/*价格排序栏*/
                border: 1px solid #e5e5e5;
                height:40px;
                padding: 7px 15px;
                line-height: 26px;
                overflow: hidden;
                >div{
                    float: left;
                    width: 46px;
                    height: 22px;
                    line-height: 22px;
                    display: inline-block;
                    border: 1px solid #dadada;
                    font-size: 0;
                    text-align: center;
                    margin: 0 5px;
                        >span{
                            float: left;
                            color: #999;
//                          height: 20px;
                            font-size: 12px;
                        }
                        >input{
                            font-size: 12px;
                            float: left;
                            border: none;
                            width: 32px;
                            height: 20px;
                            line-height: 22px;
                        }
                        >a{
                            cursor: pointer;
                            font-size: 12px;
                            text-align: center;
                        }
                }
                >span{
                    float: left;
                    color: #999;
                    display: inline-block;
                    margin: 0 5px;
                }
            }
            .wall_box{/*内容栏*/
                width: $all;
//              height: 800px;
                margin-top: 30px;
                >div{
                    display: inline-block;
                    height: 375px;
                    width: 220px;
                    float: left;
                    border: 1px solid #f6f6f6;
                    background: white;
                    margin-right:20px;
                    margin-bottom: 20px;
                    box-sizing: content-box;
                    cursor: pointer;
                    &:hover{
                        
                        border: 1px solid #ff5577;
                    }
                    .list_imgs{
                        width: 220px;
                        height: 293px;
                        img{
                            width: 220px;
                            height: 293px;
                        }
                    }
                    p{
                        height: 40px;
                        width:220px;
//                          white-space: nowrap;
                        overflow: hidden;
                        color: #333333;
                    }
                    .list_info{
                        height: 40px;
                        line-height: 40px;
                        b{
                            color: #333333;
                            margin-left: 5px;
                        }
                        del{
                            color: #333333;
                            font-size: 14px;
                        }
                        >div{
                            display: inline-block;
                            float: right;
                            i{
                                width: 15px;
                                height: 15px;
                                display: inline-block;
                                img{
                                    width: 15px;
                                }
                            }
                            span{
                                color: #999999;
                                font-size: 12px;
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                        }
                        
                    }
                    
                }
            }
            //加载更多
            #load{
                height: 30px;
                width: $all;
                background: #fafafa;
                box-shadow:  1px 0 3px 0 $maincolor;
                text-align: center;
                line-height: 30px;
                color: $maincolor;
                font-size: 20px;
                cursor: pointer;
//              display: none;
            }
            
            
            
        }
    }
    
    
    
}
